
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(8, 20, 90);
    font-size: small;
    background-color: rgb(127, 149, 171);
}
.loud {
    color:rgb(25, 7, 166)
}
.out {
    color: rgb(132, 9, 232);
}
.in {
    color: rgb(63, 63, 92);
}
#id {
    color:#8a18b0;
}