body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey
}
.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
aside{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width:200px;
    margin: 20px;
    background-color: cadetblue;
    border: thin solid black

}
.item{
    background-color: cadetblue;
    padding:10px 20px;
}

header{
    background-color: cadetblue;
    text-align: center;
    margin:50px;
}

footer{
    clear:both;
}

.card{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
.card img {
    width: 100%; 
    height: auto;
    border: thin solid black;
    display: block;
}
figure{
    border: thick solid cadetblue;
    background-color: azure;
}
h1{
    background-color: cadetblue;
    padding:10px ;
    border: thin solid black;
    text-align: center;
}
#rock{
    margin:50px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:20px;
    text-align: center;
    
}
.grid a{
    display:block;
    background-color: cadetblue;
    
}
.button{
    display: flex;
    justify-content: left;
}