body {
    background-image: url(bluebackground.jpg);
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
.white {
    color: aliceblue;
}
.indeximg {
    background-image: url(skylinesmall.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center bottom ;
    height: 200px
}

.grey {
    color:bisque
}

ul {
    list-style-image: url("bullet.ico");
    filter: hue-rotate(120deg)
}